:root {
  --prime-color: #44625a;
  --secondary-color: #6a8a81;
  --light-color: #fafaf0;
  --base-font: "Raleway", sans-serif;
  --head-font: "Oswald", sans-serif;
  --dark-color: #50445f;
}

body {
  background-color: var(--light-color);
  font-family: var(--base-font);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--light-color);
  padding: 10px;
  padding-left: 50px;
  z-index: 2;
  border-bottom: 2px solid var(--secondary-color);
}

header a {
  text-decoration: none;
  margin-inline: 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

header a.active,
header a:hover {
  color: var(--prime-color);
}

h1,
h2,
h3 {
  font-family: var(--head-font);
  color: var(--dark-color);
  font-weight: bold;
}

h2 {
  font-size: 40px;
  margin: 15px;
}

footer {
  background-color: var(--prime-color);
  border-top: 5px solid var(--secondary-color);
  padding: 25px;
  margin-top: auto;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}

footer .mail-me {
  display: flex;
  align-items: baseline;
}

footer :is(h3, p) {
  color: var(--light-color);
  font-size: 32px;
  line-height: 40px;
}

footer h3 {
  font-family: var(--base-font);
}

footer .btn {
  color: var(--light-color);
  border: 2px solid var(--light-color);
  width: 65px;
  height: 65px;
  font-size: 25px;
  border-radius: 50%;
  padding: 12px;
  transition: all 300ms ease-in-out;
}

footer .btn:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--light-color);
  color: var(--prime-color);
}

/* HOMEPAGE */

.hero {
  background-color: var(--prime-color);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.hero :is(h1, h3) {
  color: var(--light-color);
  line-height: 1.5;
}

.hero h1 {
  font-size: 65px;
  font-family: var(--head-font);
}

.hero h3 {
  font-size: 35px;
  font-family: var(--base-font);
  font-weight: 600;
  max-width: 60vw;
  margin: 0 auto;
}

.preview .img-box {
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  aspect-ratio: 16/9;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accent-btn {
  display: block;
  width: fit-content;
  font-weight: bold;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid var(--dark-color);
}

.accent-btn:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
}

/* PROJECTS */

.project-section a {
  text-decoration: none;
}

.project-card {
  background-color: #fff;
  display: grid;
  grid-template-rows: minmax(100%, 1fr);
  grid-template-areas: "stack";
  overflow: hidden;
  padding: 0;
  aspect-ratio: 3/2;
  border: 2px solid var(--secondary-color);
}

.project-card img {
  grid-area: stack;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 500ms ease-in-out;
}

.card-text {
  grid-area: stack;
  background-color: #6a8a81d7;
  transform: translateY(73%);
  transition: transform 700ms ease-in-out;
}

.card-text :is(h3, p) {
  color: var(--light-color);
}

.project-card:hover img {
  opacity: 0.8;
  filter: blur(10px);
}

.project-card:hover .card-text {
  transform: none;
  z-index: 1;
}

/* ABOUT */

.about-section {
  margin-left: 0;
  padding-right: 0;
}

.summary {
  background-color: var(--prime-color);
  color: var(--light-color);
  padding: 35px;
}

.summary .img-box {
  width: 60%;
  margin-bottom: 15px;
}

.my-img {
  border-radius: 50%;
}

.summary h2 {
  color: var(--light-color);
  margin-left: 0;
}

.summary h4 {
  font-size: 25px;
  font-weight: bold;
}

.skill-list {
  padding-left: 15px;
}

.my-story {
  padding: 20px 35px;
}

.my-story h1 {
  font-size: 65px;
}

.my-story p {
  font-size: 25px;
  margin-top: 20px;
}

.my-story a {
  color: var(--dark-color);
  font-weight: bold;
  text-decoration: none;
}

.my-story em {
  font-weight: 600;
}

/* CONTACTS */

.get-in-touch h1,
.contact-link {
  margin-top: 30px;
}

.contact-link a {
  color: var(--prime-color);
  text-decoration: none;
}
/* MEDIA */

@media (max-width: 1024px) {
  .card-text {
    transform: translateY(68%);
  }

  .card-text h3 {
    font-size: 25px;
  }

  .card-text p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  footer h3 {
    font-size: 30px;
  }

  footer p {
    font-size: 25px;
  }

  footer .btn {
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 3px;
  }

  .hero {
    height: 40vh;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h3 {
    font-size: 30px;
  }

  .project-section {
    margin-top: 1rem !important;
  }

  .card-text {
    transform: translateY(85%);
  }

  .card-text h3 {
    font-size: 30px;
  }

  .card-text p {
    font-size: 20px;
  }

  .summary ul {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  header {
    padding-left: 5px;
    justify-content: space-evenly;
  }

  header a {
    font-size: 15px;
    margin: 0 auto;
  }

  footer h3 {
    display: none;
  }

  footer p {
    font-size: 21px;
  }

  .hero {
    height: 50vh;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero h3 {
    font-size: 23px;
  }

  h2 {
    font-size: 30px;
  }

  .preview .btn {
    margin: 0 auto;
  }

  .preview-element {
    padding: 0;
  }

  .card-text {
    transform: translateY(73%);
  }

  .card-text h3 {
    font-size: 25px;
  }

  .card-text p {
    font-size: 15px;
  }

  .about-section {
    padding: 0;
    align-items: start;
  }

  .about-section h1 {
    font-size: 40px;
  }

  .my-story p {
    font-size: 15px;
  }
}
