:root {
  --prime-color: #44625a;
  --secondary-color: #6a8a81;
  --light-color: #fafaf0;
  --base-font: "Raleway", sans-serif;
  --head-font: "Oswald", sans-serif;
  --dark-color: #50445f;
}

.preview .img-box {
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: var(--light-color);
  font-family: var(--base-font);
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--light-color);
  padding: 10px;
  padding-left: 50px;
}

header a {
  text-decoration: none;
  margin-inline: 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

header a.active,
header a:hover {
  color: var(--prime-color);
}

h1,
h2,
h3 {
  font-family: var(--head-font);
  color: var(--dark-color);
  font-weight: bold;
}

h2 {
  font-size: 40px;
  margin: 15px;
}

.hero {
  background-color: var(--prime-color);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.hero :is(h1, h3) {
  color: var(--light-color);
  line-height: 1.5;
}

.hero h1 {
  font-size: 65px;
  font-family: var(--head-font);
}

.hero h3 {
  font-size: 35px;
  font-family: var(--base-font);
  font-weight: 600;
  max-width: 60vw;
  margin: 0 auto;
}

.accent-btn {
  display: block;
  width: fit-content;
  font-weight: bold;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid var(--dark-color);
}

.accent-btn:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
}

@media (max-width: 992px) {
  .hero {
    height: 40vh;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h3 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  header {
    padding-left: 5px;
    justify-content: space-evenly;
  }

  header a {
    font-size: 15px;
    margin: 0 auto;
  }

  .hero {
    height: 50vh;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero h3 {
    font-size: 23px;
  }

  h2 {
    font-size: 30px;
  }

  .preview .btn {
    margin: 0 auto;
  }

  .preview-element {
    padding: 0;
  }
}
